body {
    
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
    /* Fondo */
    background: url("../img/fondo.jpg");
    background-attachment: fixed;
    background-position: center;
}

header {
    
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 150px;
    background: #262626;
    width: 100%;
    box-sizing: border-box;
}

header .logo {
    
    color: #FFF;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
}

header nav {
    
    float: right;
}

header nav ul {
    
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    
    list-style: none;
    position: relative;
}

header nav ul li .sub-menu:before {
    
    content: url("../img/flechaAbajo.png");
    position: absolute;
    line-height: 53px; /* Altura para colocar la imagen */
    right: 8px; /* Espacio entre el texto y la flecha */
    color: #fff;
}

header nav ul li.active .sub-menu:before {
    content: url("../img/flechaArriba.png");
}

header nav ul li ul{
    
    position: absolute;
    left: 0;
    background: #333;  
    display: none;
}

header nav ul li.active ul {
    
    display: block; 
    width: 170px;
}

header nav ul li a{
    
    list-style: none;
    font-size: 18px;
    line-height: 50px;
    padding: 0 30px;
    color: #FFF;
    text-decoration: none;
    display: block;
}

header nav ul li a:hover, 
header nav ul li a.active {
    color: #000;
    background-color: rgb(255,255,255,0.7);
}

.menu-barra {
    
    height: 50px;
    color: #FFF;
    float: right;
    line-height: 40px;
    font-size: 24px;
    cursor: pointer;
    display: none; /* No se muestra */
}

@media (max-width: 991px) {
    
    header {
        padding: 0 20px;
    }
    
    .menu-barra {
        display: block;
        line-height: 65px;
    }
    
    header nav ul li .sub-menu:before {
        
        left: 115px; /* Posición de la flecha respecto al texto */   
    }
    
    header nav {
        
        position: absolute;
        width: 100%;
        height: calc(100vh-50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }
    
    header nav.active {
        left: 0;
    }
    
    header nav ul {
        display: block;
        text-align: center;
    }
    
    header nav ul li a {
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }
    
    header nav ul li.active ul {
        position: relative;
        background: linear-gradient(to bottom right, #5c557d, #b48691);
        width: 100%;
    }
}
/*
.slider {
    background-color: #00F;
    height: 400px;
    margin-top: 10px;
}*/