body {
    
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
    /* Fondo */
    background: url("../img/fondo.jpg");
    background-attachment: fixed;
    background-position: center;
}

header {
    
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 150px;
    background: #262626;
    width: 100%;
    box-sizing: border-box;
}

header .logo {
    
    color: #FFF;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
}

header nav {
    
       
    position: relative;
    z-index: 999;
    float: right;
}

header nav ul {
    
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    
    list-style: none;
    position: relative;
}

header nav ul li .sub-menu:before {
    
    content: url("../img/flechaAbajo.png");
    position: absolute;
    line-height: 53px; /* Altura para colocar la imagen */
    right: 8px; /* Espacio entre el texto y la flecha */
}

header nav ul li.active .sub-menu:before {
    content: url("../img/flechaArriba.png");
}

header nav ul li ul{
    
    position: absolute;
    left: 0;
    background: #333;  
    display: none;
}

header nav ul li.active ul {
    
    display: block; 
    width: 170px;
}

header nav ul li a{
    
    list-style: none;
    font-size: 18px;
    line-height: 50px;
    padding: 0 30px;
    color: #FFF;
    text-decoration: none;
    display: block;
}

header nav ul li a:hover, 
header nav ul li a.active {
    color: #000;
    background-color: rgb(255,255,255,0.7);
}

.menu-barra {
    
    height: 50px;
    color: #FFF;
    float: right;
    line-height: 40px;
    font-size: 24px;
    cursor: pointer;
    display: none; /* No se muestra */
}

@media (max-width: 991px) {
    
    header {
        padding: 0 20px;
    }
    
    .menu-barra {
        display: block;
        line-height: 65px;
    }
    
    header nav ul li .sub-menu:before {
        
        left: 115px; /* Posición de la flecha respecto al texto */   
    }
    
    header nav {
        
        position: absolute;
        width: 100%;
        height: calc(100vh-50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }
    
    header nav.active {
        left: 0;
    }
    
    header nav ul {
        display: block;
        text-align: center;
    }
    
    header nav ul li a {
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }
    
    header nav ul li.active ul {
        position: relative;
        background: linear-gradient(to bottom right, #5c557d, #b48691);
        width: 100%;
    }
}

/* Slider */
.slider {
    background-color: #00F;
    width: 100%;       
    height: 350px;
    margin-top: 50px;
    position: relative;
    display: flex; 
    overflow: hidden;
}

.img-slider {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: all 1s;
    opacity: 0;
}

#img1 {
    transform: translateX(0);
    opacity: 1;
}

.img-slider:target{
    transform: translateX(0);
    opacity: 1;
}

.img-slider .fondo{
    width: 100%;
    height: 100%;
}

.flechaIzq {
    position: absolute;
    top: 175px;
    left: 10px;
}

.flechaDer {
    position: absolute;
    top: 175px; /* La mitad de la altura del slider para que queden centradas las flechas */
    right: 10px;
}

/* Main */
.main {
    max-width: 1340px;
    min-width: 650px;
    width: 95%;
    margin: 60px auto 20px auto;
}

.main .productos-main {
    width: 24.4%;
    background-color: deepskyblue;
    float: left;
    margin-left: 6.5px;
    margin-top: 6.5px;
    
    -webkit-box-shadow: 1px 1px 4px 0px rgba(125,220,255,1);
    -moz-box-shadow: 1px 1px 4px 0px rgba(125,220,255,1);
    box-shadow: 1px 1px 4px 0px rgba(125,220,255,1);
}

/* Efecto para agrandar el producto cuando se pasa el ratón por encima*/
.main .productos-main:hover { 
    -webkit-transform:scale(1.10);
    -moz-transform:scale(1.10);
    -ms-transform:scale(1.10);
    -o-transform:scale(1.10);
    transform:scale(1.10);
}

.main .limpiar {
    clear: both;
}

.main .productos-main .precio {
    
    margin: auto;
    background-color: deepskyblue;
    color: black;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
@media screen and (max-width:1180px) {
    
    .main .productos-main {
        width: 32.4%;
    }
}

@media screen and (max-width:760px) {
    
    .main .productos-main {
        width: 48.4%;
    }
}

@media screen and (max-width:500px) {
    
    .main .productos-main {
        width: 95%;
    }
}

/*Pie de página*/
footer {
    width: 100%;
    height: 110px;
    background-color: #262626;
    margin-top: 90px;
    text-align: center;
    padding: 35px;
    box-sizing: border-box;
}

footer p {
    color: #FFF;
}

footer p a {
    text-decoration: none;
    color: #FFF;
}

footer p a:hover {
    color: rgb(215,38,210);
}